[Unit]
Description=EZTV RSS to JSON Service

[Service]
ExecStart=/home/keeb/code/projects/eztv-rss-to-json/run.sh

[Install]
WantedBy=multi-user.target