[Unit]
Description=Erai-raws Auto Downloader
After=network.target

[Service]
Type=oneshot
User=keeb
Group=keeb
WorkingDirectory=/home/keeb/git/media-management-service
ExecStart=/home/keeb/git/media-management-service/.venv/bin/erai-raws-dl --config /home/keeb/git/media-management-service/erai-raws-shows.yaml --auto
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
