[Unit]
Description=Run Food Court de Mata Ashita Auto Downloader every 6 hours
Requires=food-court-de-mata-ashita.service

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=true

[Install]
WantedBy=timers.target